*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans',sans-serif
} 

.navbar{

    background-color: #131313;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top:0;
    position : sticky;
    z-index:999;
    

} 

.navbar__container{
    display:flex;
    width:100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1300px;
    height : 80px; 

} 
 
.navbar__menu{
    display: flex; 
    list-style: none;
    text-align: center;
    align-items: center;
    color:white;
    transition: all 0.5s ease;
   
} 
.navbar__logo{
    text-decoration: none;
    background-color : #ff8177;
    background-image : linear-gradient(to top, #ff0844 0% , #ffb199 100% );
    background-size: 100%;
    -webkit-background-clip : text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color : transparent;
    display : flex;
    align-items: center;
    font-size : 2rem;
    transition:all 0.5s ease;
    
} 


  
.navbar__item{
  height:80px; 
  padding: 0 2rem;
 
} 

.navbar__links{ 
    color: white;
    text-decoration: none;
    display :flex; 
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
    white-space: nowrap;
    width:100%;

}

.navbar__btn { 
 display: flex;
 justify-content: center;
 align-items: center;
 padding:0 1rem;
 width:100%;

}
.button{  
 
  text-decoration : none;
  color: white;
  justify-content: center;
  align-items: center;
  padding:10px 20px;
  border-radius:4px;
  width: 100%;
  height:100%;
  border:none; 
  background-color: #f77062;
  outline:none;
 

}

.button:hover{
    background-color: #4837ff;
    transition:all 0.3s ease-in;
} 

.navbar__links:hover{
    color:#f77062;
    transition:all 0.3s ease-in;
}

.fa-gem {
    margin-right: 0.5rem;
}  

@media screen and (max-width: 960px){ 
    .navbar{
        background-color: #131313;
    }

    .navbar__container{
        display:flex;
        justify-content: space-between;
        z-index:1;
        width:100%;
        height: 80px;
        max-width: 1300px;
        padding: 0px;
        margin: 0px;
        position: relative;
        
    }
    .navbar__menu{ 
        background-color: #131313;
        display:grid;
        grid-template-columns:auto;
        position:absolute;
        width:100%;
        margin:0;
        opacity:0;
        top:-1000px;
        z-index: -1;
        height:50vh;
        transition:all 0.5s ease;
        height:50vh;
        z-index : -1;
        
    }   

    .navbar__menu.active{
        background-color: #131313;
        top:100%;
        opacity:1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size:1.4rem;
       
    }

    .navbar__btn{
        padding-top: 2rem;
        width: 100%;
        padding-bottom: 3rem;
    }
    .navbar__item{
        width:100%;
    }
    .navbar__links{
        text-align: centre;
        display: table;
        padding:2.5rem;
        width:100%;
    } 
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    #mobile-menu{ 
        position: absolute;
        top:20%;
        right:5%;
        transform: translate(5%,20%)
    } 
    .navbar__toggle .bar{
        width:25px;
        height:3px;
        margin:5px auto;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

    .navbar__logo{
        padding-left: 25px;
    } 
    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    } 
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg)
    }
    
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg)
    }


} 

/* hero section css  */ 

.main{
    background-color: #141414;
} 
 

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1300px; 
    height:90vh;
    width: 100%;
    justify-self: center;
    padding: 0 50px;
    margin: 0 auto;
    align-items: center;
    background-color: #141414;

} 

.main__content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image : linear-gradient(to top, #ff0844 0% , #ffb199 100% );
    background-size: 100%;
    -webkit-background-clip : text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color : transparent;
    width: 100%;
} 

.main__content h2{
    font-size: 4rem;
    background-color: #ff8177;
    background-image : linear-gradient(to top, #b721ff 0% , #21d4fd 100% );
    background-size: 100%;
    -webkit-background-clip : text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color : transparent;
} 

.main__content p {
    margin-top: 1rem;
    font-size:2rem;
    font-weight: 700;
    color:#fff;
}

.main__btn{ 
    font-size: 1rem;
    background-image : linear-gradient(to top , #f77062 0%,#fe5196 100%);
    padding:14px 32px; 
    margin-top:2rem;
    border: none;
    border-radius :4px;
    outline:none;
    color:#fff;
    cursor:pointer;
    position: relative;
    /* transition : all 0.35s; */
} 

.main__btn a {
    text-decoration: none;
    color: #fff;
    position:relative;
    z-index:2;
} 

.main__btn::after{
    position:absolute;
    content: '';
    top:0;
    left:0;
    height:0;
    width:100%;
    background: #4837ff;
    transition:all 0.35s ease-out;
    border-radius:4px;
} 

.main__btn:hover {
    color:#fff;
}

.main__btn:hover::after{
    height:100%;
} 

.main__img--container{
    text-align: center;
}
#main__img{
    height:80%;
    width: 80%;
} 

/* mobile responsive hero section */
/* 
@media screen and (max-width: 960px){  
.main{
    background-color: #141414;
}
.main__container{
    display:grid;
    grid-template-columns: 1fr;
    padding: 0 0rem;
    height: 100vh;
    text-align: center;
}
.main__container h1{
    margin-top: 2rem;
    font-size: 3rem;
}
.main__container h2{
    font-size: 3rem;
} 
.main__container p{
    font-size: 2rem;
} 
.main__img--container{
    margin-top: 3rem;
}


} */ 
/* Mobile responsive - hero Section changed */ 
@media screen and (max-width:768px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        height: 90vh;
        
    } 

    .main__content{
        text-align: center;
        margin-bottom: 1rem;
    }
    .main__content h1 {
        font-size : 2.5rem;

    }
    .main__content h2{
        font-size:3rem;
    } 
    .main__content{
        margin-top:1rem;
        font-size: 1.5rem;
    }

} 

@media screen and (max-width:480px){
 
    .main__content h1 {
        font-size : 2rem;

    }
    .main__content h2{
        font-size:2rem;
    } 
    .main__content{
        margin-top:2rem;
        font-size: 1.5rem;
    }

    #main__img{
        width: 100%;
    }
    .main__btn{
        padding: 12px 36px;
        margin:2.5rem 0;
    }
}
 
.services{

    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
} 

.services h1 { 

    background-color: #ff8177;
    background-image : linear-gradient(to right , #ff8177 0%,#fe867a 21%, #f99185 52% , #cf556c 78%, #b12a5b 100%); 
    background-size:100%;
    -webkit-background-clip : text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color : transparent;
    font-size:2.5rem;
    margin-bottom: 5rem;

} 

.services__container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
} 
.services__card{
    margin:1rem;
    height:525px;
    width:400px;
    border-radius:4px;
    background-image: linear-gradient(to bottom ,rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%) ,url('/images/vrgirl.webp');
    background-size: 100%;
    object-fit: cover;
    background-size: cover;
    color:#fff;
    position: relative;
} 

.services__card:nth-child(2){
    background-image: linear-gradient(to bottom ,rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%) ,url('/images/vrboy.webp');
    /* background-size: 100%; */
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    
} 

.services__card h2{
    position: absolute;
    top:350px;
    left:30px;
    
} 

.services__card p {
    position: absolute;
    top :400px;
    left:30px; 
} 

.services__card button{
    color:#fff;
    padding:10px 20px;
    border:none;
    outline:none;
    border-radius: 4px;
    background: #f77062;
    position:absolute;
    top:440px;
    left:30px;
    font-size:1rem;
    cursor:pointer;

} 

.services__card:hover{
    transform:scale(1.075);
    transition: 0.2s ease-in;
    cursor:pointer;
}

@media screen and (max-width : 960px){
    .services {
        height:1600px;
    }

    .services h1{
        font-size : 3rem;
        margin-top: 7rem;
    }
}  

@media screen and (max-width:480px){
    .services {
        height: 1400px;
    } 
    .services h1{
        font-size :1.2rem;
    }
    .services__card {
        width : 300px;
    }
}

